extends base.pug

block scripts
    script(src='../static/index.js')
block style 
    style
        include ../static/style.css
block content2 
    h1 We provide dance tutorial for all types of dance forms