doctype html
html 
    head 
        title Rishi Dance Academy
        block scripts 
        block style 

    body 
        block content1
            nav#navbar
                ul
                    li #[a(href='/') Home]
                    li #[a(href='/about') About]
                    li #[a(href='/services') Services]
                    li #[a(href='/contact') Contact Us]
        block content2
        footer
            | Copyright  © 2021 RishiDanceAcademy.com | All Rights Reserved