extends base.pug


block scripts 
    script(src='../static/index.js')
block style 
    style
        include ../static/style.css
block content2
    section#intro 
        div Welcome to Rishi's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#sponsor
        |section for sponsor